

/*=====================================
  HEADERS TOP STYLES 
 ===================================*/

.header-top {
    background-color: #000;
}

/*=====================================
  HOME STYLES 
   ===================================*/

#home .overlay {
    background: rgba(14, 14, 14, 0.84);
}

#home h3 {
    color: #E25454;
}

.facts span > i {
    color: #E25454;
}
/*=====================================
  BUY STYLES 
   ===================================*/
#buy i {
    color: rgba(14, 14, 14, 0.84);
}
/*=====================================
  FOOTER STYLES 
   ===================================*/
#footer-sec {
    background-color: #000;
}
