

/*=====================================
  HEADERS TOP STYLES 
 ===================================*/

.header-top {
    background-color:rgba(70, 84, 158, 0.95);

}

/*=====================================
  HOME STYLES 
   ===================================*/

#home .overlay {
   background:rgba(63, 0, 156, 0.84);
}
#home h3 {
   color: #000;
}
.facts span > i {
           color: #000;

}
/*=====================================
  BUY STYLES 
   ===================================*/
#buy h1 {
   color: #341ED8;
}
#buy i {
   color: #341ED8;
}
/*=====================================
  FOOTER STYLES 
   ===================================*/
#footer-sec {
    background-color: rgba(70, 84, 158, 0.95);
}