

/*=====================================
  HEADERS TOP STYLES 
 ===================================*/

.header-top {
    background-color:rgba(143, 4, 32, 1);

}

/*=====================================
  HOME STYLES 
   ===================================*/

#home .overlay {
   background:rgba(211, 77, 77, 0.84);
}
#home h3 {
   color: #000;
}
.facts span > i {
           color: #000;

}
/*=====================================
  BUY STYLES 
   ===================================*/
#buy h1 {
    color: #EE1B2C;
}
#buy i {
   color: #EE1B2C;
}
/*=====================================
  FOOTER STYLES 
   ===================================*/
#footer-sec {
    background-color: rgba(143, 4, 32, 1);
}